body {
    font-family: 'Open Sans', sans-serif;
    background-color: #EFEFEF;
  }
  
  header {
  background-color: #2B2B2B;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  height: 12vh;
  
  }
  
  .navigation {
    display: flex;
    align-items: flex-end;
    color: #969696;
    height: 90%;
  }
  
  .nav-buttons {
    display: flex;
    align-items: center;
    padding-left: 3vw;
  }
  
  .share-button {
    color: #FFFFFF;
  }
  
  .share-icon {
    height: 4vh;
    filter: invert(100%) sepia(10%) saturate(206%) hue-rotate(221deg) brightness(115%) contrast(87%);
    padding-right: .5vw;
  }
  
  .playlist-icon,
  .personal-icon {
    height: 4.5vh;
    filter: invert(100%) sepia(10%) saturate(1849%) hue-rotate(170deg) brightness(100%) contrast(101%);
    padding-right: .5vw;
  }
  
  .site-control {
    display: flex;
    flex-direction: column;
  }
  
  .admin {
    color: #26B6FD;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 6vw;
  }
  
  .admin-icon {
    height: 3vh;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(360deg) brightness(90%) contrast(90%);
    padding-top: 1vh;
    padding-right: 1vh;
  }
  
  .triangle-arrow {
    width: 0;
    height: 0;
    border-left: .3vw solid transparent;
    border-right: .3vw solid transparent;
    border-top: .9vh solid #26B6FD;
  }
  
  .page-name {
    display: flex;
    align-items: center;
    font-family: 'Rokkitt', serif;
    font-size: 4vh;
    height: 9vh;
    margin-right: 4vw;
  }
  
  .cat-logo {
    height: 4.5vh;
    filter: invert(100%) sepia(50%) saturate(100%) hue-rotate(128deg) brightness(95%) contrast(100%);
  }
  
  .shares-title {
    color: #4D4D4D;
    font-size: 4vh;
    margin-left: 2.5vw;
    margin-bottom: 0;
    margin-top: .5vh;
  }

  section {
    display: grid;
    margin-left: 1vw;
    margin-right: 1vw;
    grid-template-columns: repeat(4, 8fr);
    grid-template-rows: repeat(2, 8fr);
    grid-column-gap: 1vh;
    grid-row-gap: 1vw;
  }
  
  article {
    background-color: #FFFFFF;
    box-shadow: 8px 3px 10px rgb(0 0 0 / 0.4);
    padding-bottom: 18vh;
  }
  
  .kitty-portal-1,
  .kitty-portal-2,
  .kitty-portal-3,
  .kitty-portal-4,
  .kitty-portal-5,
  .kitty-portal-6,
  .kitty-portal-7,
  .kitty-portal-8 {
    background-color: #26B6FD;
    background-size: cover;
    color: #FFFFFF;
    height: 120%;
    display: flex;
    justify-content: space-between;
    filter: brightness(90%);
    filter: grayscale(50%);
  }
  
  .kitty-portal-1 {
    background-image: url("assets/four-kitties.png");
  }
  
  .kitty-portal-2 {
    background-image: url("assets/hiding-kitty.png");
  }
  
  .kitty-portal-3 {
    background-image: url("assets/kitty-and-mouse.png");
  }
  
  .kitty-portal-4 {
    background-image: url("assets/kitty-on-dog.png");
  }
  
  .kitty-portal-5 {
    background-image: url("assets/kitty-under-hat.png");
  }
  
  .kitty-portal-6 {
    background-image: url("assets/napping-kitty.png");
  }
  
  .kitty-portal-7 {
    background-image: url("assets/playing-kitty.png");
  }
  
  .kitty-portal-8 {
    background-image: url("assets/white-kitty.png");
  }
  
  .arrow {
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 2.4vw;
    height: 4vh;
    margin: .75vw .75vh;
  }
  
  .view-container {
    display: flex;
    margin: 1vw 1vh;
    margin-top: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .view-title {
    font-size: 1.5vh;
    margin: 1vh;
    margin-bottom: 0;
  }
  
  .number-of-views {
    font-size: 1.5vh;
    margin-top: 0;
    margin: 0;
  }
  
  .name {
    font-size: 2vh;
    margin: 1vh;
    margin-top: .5vh;
    margin-bottom: 0;
  }
  
  .date {
    font-size: 1vh;
    margin: 0;
    margin-bottom: .75vh;
    margin-left: .7vw;
  }
  
  .user-link {
    background-color: #EFEFEF;
    color: #4D4D4D;
    font-size: 1vh;
    font-weight: bold;
    text-decoration: none;
    margin-left: .6vw;
    margin-bottom: 3vh;
    padding: .5vh;
  }
  
  .personal-playlist {
    font-size: 1vh;
    margin-bottom: 0px;
    margin-left: .6vw;
    margin-top: 1vh;
  }
  
  .name-playlist {
    font-size: 1vh;
    font-weight: bold;
    margin: 0;
    margin-left: .6vw;
  }
  
  .attachments {
    font-size: 1vh;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: .6vw;
    margin-top: 0;
  }
  
  .num-attach {
    color: #26B6FD;
    font-size: 1.2vh;
    font-weight: bold;
    margin-left: .6vw;
    margin-top: 0;
  }