body {
    font-family: 'Open Sans', sans-serif;
    background-color: #EFEFEF;
  }
  
  header {
  background-color: #2B2B2B;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  height: 25%;
  
  }
  
  .navigation {
    display: flex;
    align-items: flex-end;
    color: #969696;
    height: 90%;
  }
  
  .nav-buttons {
    display: flex;
    align-items: center;
    padding-left: 2em;
  }
  
  .share-button {
    color: #FFFFFF;
  }
  
  .share-icon {
    height: 25px;
    filter: invert(100%) sepia(8%) saturate(206%) hue-rotate(221deg) brightness(115%) contrast(87%);
    padding-right: 10px;
  }
  
  .playlist-icon,
  .personal-icon {
    height: 25px;
    filter: invert(59%) sepia(85%) saturate(1849%) hue-rotate(170deg) brightness(100%) contrast(101%);
    padding-right: 10px;
  }
  
  .site-control {
    display: flex;
    flex-direction: column;
  }
  
  .admin {
    color: #26B6FD;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .admin-icon {
    height: 25px;
    filter: invert(63%) sepia(0%) saturate(0%) hue-rotate(359deg) brightness(96%) contrast(86%);
  }
  
  .triangle-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #26B6FD;
  }
  
  .page-name {
    display: flex;
    align-items: center;
    font-family: 'Rokkitt', serif;
    font-size: 37px;
    height: 50%;
    margin-right: 15px;
  }
  
  .cat-logo {
    height: 50px;
    filter: invert(100%) sepia(0%) saturate(7448%) hue-rotate(128deg) brightness(113%) contrast(113%);
    margin-left: 3px;
  }
  
  .shares-title {
    color: #4D4D4D;
    font-size: 40px;
    font-weight:900;
    margin-left: 15px;
  }

  section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  
  article {
    background-color: #FFFFFF;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    margin: 10px;
    padding-bottom: 40px;
  }
  
  .kitty-portal-1,
  .kitty-portal-2,
  .kitty-portal-3,
  .kitty-portal-4,
  .kitty-portal-5,
  .kitty-portal-6,
  .kitty-portal-7,
  .kitty-portal-8 {
    background-color: #26B6FD;
    background-size: cover;
    color: #FFFFFF;
    height: 40%;
    display: flex;
    justify-content: space-between;
    filter: brightness(90%);
    filter: grayscale(50%);
  }
  
  .kitty-portal-1 {
    background-image: url("/assets/four-kitties.png");
  }
  
  .kitty-portal-2 {
    background-image: url("/assets/hiding-kitty.png");
  }
  
  .kitty-portal-3 {
    background-image: url("/assets/kitty-and-mouse.png");
  }
  
  .kitty-portal-4 {
    background-image: url("/assets/kitty-on-dog.png");
  }
  
  .kitty-portal-5 {
    background-image: url("/assets/kitty-under-hat.png");
  }
  
  .kitty-portal-6 {
    background-image: url("/assets/napping-kitty.png");
  }
  
  .kitty-portal-7 {
    background-image: url("/assets/playing-kitty.png");
  }
  
  .kitty-portal-8 {
    background-image: url("/assets/white-kitty.png");
  }
  
  .arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 10px;
  }
  
  .arrow {
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  
  .view-container {
    display: flex;
    margin: 15px;
    margin-top: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .view-title {
    font-size: 15px;
    margin: 10px;
    margin-bottom: 0;
  }
  
  .number-of-views {
    font-size: 25px;
    margin-top: 0;
    margin: 0;
  }
  
  .name {
    font-size: 20px;
    font-weight: 900;
    margin: 10px;
    margin-bottom: 0;
  }
  
  .date {
    font-size: 15px;
    font-weight: 100;
    margin: 0;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  
  .user-link {
    background-color: #EFEFEF;
    color: #4D4D4D;
    font-size: 15px;
    font-weight: 150;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
  }
  
  .personal-playlist {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-top: 20px;
  }
  
  .name-playlist {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    margin-left: 10px;
  }
  
  .attachments {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-top: 20px;
  }
  
  .num-attach {
    color: #26B6FD;
    font-size: 35px;
    font-weight: 200;
    margin-left: 10px;
    margin-top: 0;
  }